on:
  workflow_dispatch:
  push:

permissions: 
  id-token: write
  
jobs:
  job1:
    runs-on: ubuntu-latest
    steps:
      - uses: aws-actions/configure-aws-credentials@v6
        with:
          aws-region: us-east-2
          role-to-assume: arn:aws:iam::793291932898:role/githubactions
      - run: |
          Install-Module -Name AWS.Tools.EC2 -Force
          Get-EC2Vpc
        shell: pwsh
